.contacts {}

.section {}

.container {}

.contacts__container {
    background-color: #2C3B45;
}

.contacts__content {}

.section-title {}

.contacts__title {
    color: #FFFFFF;
}

.contacts__info {}

.contacts-list {}

.contacts-item {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}

.contacts-item__icon {
    width: 30px;
    height: 30px;
}

.contacts-item__link {}

.work-hours {}

.work-hours__desc {
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
}

.work-hours__info {}

.work-hours__day {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #1E92E7;
}

.work-hours__time {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;

    color: #FFFFFF;
}

.contacts__map {}

.contacts__map-img {}